{% extends 'base.html' %} {% block content %}

<header>
<nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('get_users')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('users_admin')}}">View User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('new_user')}}">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('permits_admin')}}">View Permits</a>
      </li>
      </ul>
      </div>
</nav>
</header>
<br>

<div class="container grey-container">
<br>
<form action="{{ url_for('add_user') }}" method="POST" autocomplete="off">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </div>
<div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <select class="form-control" id="title" name="title">
    <option>Select..</option>
    <option>General Operative</option>
    <option>Electrician</option>
    <option>Foreman</option>
    <option>Supervisor</option>
    </select>
  </div>
<div class="form-group">
    <label for="company">Company</label>
    <input type="text" class="form-control" id="company" name="company">
  </div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}