{% extends 'base.html' %} {% block content %}

<header>
<nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('get_users')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('permits')}}">View Permits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('new_permit')}}">Add Permit</a>
      </li>
      </ul>
      </div>
</nav>
</header>
<br>

    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="permit-bar">GENERAL WORK PERMIT
    </div>
    </div>
    </div>
    <br>

    <div class="container grey-container">
    <br>
    <div class="row">
    <div class="col-6 titles">
    <p>Date</p>
      <div class="permit-box">
        {{permit.date}}
      </div>
      </div>
      <div class="col-6 titles">
    <p>Size of Work Crew</p>
      <div class="permit-box">
      {{permit.crew_size}}
      </div>
      </div>
    </div>
      <div class="row">
    <div class="col-6 titles">
      <p>Location</p>
      <div class="permit-box">{{permit.location}}
      </div>
      </div>
      <div class="col-6 titles">
      <p>Name of Supervisor/Foreman</p>
      <div class="permit-box">{{permit.supervisor}}
      </div>
      </div>
      </div>

                                <!-- Contractor Information -->
    
    <div class="row">
    <div class="col-12 titles">
    <p>Requested By</p>
    <div class="permit-box">{{permit.request_by}}
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-6 titles">
      <p>Contractor Name</p>
      <div class="permit-box">{{permit.contractor}}
      </div>
      </div>
      <div class="col-6 titles">
      <p>Sub-Contractor Name</p>
      <div class="permit-box">{{permit.sub_contractor}}
      </div>
      </div>
      </div>

                                <!-- Work Description -->
    
<div class="row">
    <div class="col-12 titles">
    <p>Work Description</p>
    <div class="permit-box">{{permit.work_description}}
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-6 titles">
      <p>System Name</p>
      <div class="permit-box">{{permit.system_name}}
      </div>
      </div>
      <div class="col-6 titles">
      <p>System Number</p>
      <div class="permit-box">{{permit.system_number}}
      </div>
      </div>
      </div>
                                <!-- Equipment/Tools Required -->
    
    <div class="row">
    <div class="col-12 titles">
    <p>List all Equipment/Tools Required</p>
    <div class="permit-box box-rows">{{permit.equipment_tools}}
    </div>
    </div>
    </div>
                                <!-- Controls of Work -->

    <div class="row">
    <div class="col-4">
    <div class="custom-control custom-switch">      <!-- Method Statement -->
    {% if permit.method %}
        <input type="checkbox" class="custom-control-input" name="method" id="method" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="method" id="method" disabled>
    {% endif %}
    <label class="custom-control-label" for="method">Accepted Method Statement</label>
    </div>
    </div>
    <div class="col-4">
    <div class="custom-control custom-switch">      <!-- Risk Assessment -->
    {% if permit.risk %}
        <input type="checkbox" class="custom-control-input" name="risk" id="risk" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="risk" id="risk"disabled>
    {% endif %}
    <label class="custom-control-label" for="risk">Risk Assessment</label>
    </div>
    </div>
    <div class="col-4">
    <div class="custom-control custom-switch">      <!-- SPA -->
    {% if permit.spa %}
        <input type="checkbox" class="custom-control-input" name="spa" id="spa" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="spa" id="spa"disabled>
    {% endif %}
    <label class="custom-control-label" for="spa">Safe Plan of Action - SPA</label>
    </div>
    </div>
    </div>
<br>
                                <!-- Title Break -->

    <div class="row">
    <div class="col-2">
    <div class="permit-bar">Work Involved
    </div>
    </div>
    <div class="col-10">
    <div class="permit-bar">If work type involved complete this section
    </div>
    </div>
    </div>
    
                                <!-- Work Involvement -->

    <!-- Excavation -->
    <div class="row">
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Excavation -->
    {% if permit.excavation %}
        <input type="checkbox" class="custom-control-input" name="excavation" id="excavation" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="excavation" id="excavation" disabled>
    {% endif %}
    <label class="custom-control-label" for="excavation">Excavation</label>
    </div>
    </div>
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Scanned -->
    {% if permit.scanned %}
        <input type="checkbox" class="custom-control-input" name="scanned" id="scanned" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="scanned" id="scanned" disabled>
    {% endif %}
    <label class="custom-control-label" for="scanned">Scanned</label>
    </div>
    </div>
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Shored -->
    {% if permit.shored %}
        <input type="checkbox" class="custom-control-input" name="shored" id="shored" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="shored" id="shored" disabled>
    {% endif %}
    <label class="custom-control-label" for="shored">Shored</label>
    </div>
    </div>
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Battered -->
    {% if permit.battered %}
        <input type="checkbox" class="custom-control-input" name="battered" id="battered" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="battered" id="battered" disabled>
    {% endif %}
    <label class="custom-control-label" for="battered">Battered</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Construction Skills Card -->
    {% if permit.skills_card %}
        <input type="checkbox" class="custom-control-input" name="skills_card" id="skills_card" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="skills_card" id="skills_card" disabled>
    {% endif %}
    <label class="custom-control-label" for="skills_card">Construction Skills Card</label>
    </div>
    </div>
    </div>

                                    <!-- Confined Space -->
    <div class="row">
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Confined Space -->
    {% if permit.confined_space %}
        <input type="checkbox" class="custom-control-input" name="confined_space" id="confined_space" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="confined_space" id="confined_space" disabled>
    {% endif %}
    <label class="custom-control-label" for="confined_space">Confined Space</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Atmosphere Tested -->
    {% if permit.atmosphere %}
        <input type="checkbox" class="custom-control-input" name="atmosphere" id="atmosphere" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="atmosphere" id="atmosphere" disabled>
    {% endif %}
    <label class="custom-control-label" for="atmosphere">Atmosphere Tested</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Trained Persons -->
    {% if permit.trained_persons %}
        <input type="checkbox" class="custom-control-input" name="trained_persons" id="trained_persons" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="trained_persons" id="trained_persons" disabled>
    {% endif %}
    <label class="custom-control-label" for="trained_persons">Trained Persons</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Emergency O2 -->
    {% if permit.emerg_o2 %}
        <input type="checkbox" class="custom-control-input" name="emerg_o2" id="emerg_o2" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="emerg_o2" id="emerg_o2" disabled>
    {% endif %}
    <label class="custom-control-label" for="emerg_o2">Emergency O2</label>
    </div>
    </div>
    </div>

                                    <!-- Electrical Works -->
    <div class="row">
    <div class="col-2">
    <div class="custom-control custom-switch">      <!-- Electrical Works -->
    {% if permit.elec_works %}
        <input type="checkbox" class="custom-control-input" name="elec_works" id="elec_works" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="elec_works" id="elec_works" disabled>
    {% endif %}
    <label class="custom-control-label" for="elec_works">Electrical Works</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Locked Out -->
    {% if permit.locks %}
        <input type="checkbox" class="custom-control-input" name="locks" id="locks" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="locks" id="locks" disabled>
    {% endif %}
    <label class="custom-control-label" for="locks">Locked Out</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Personnel Locks -->
    {% if permit.persons_locks %}
        <input type="checkbox" class="custom-control-input" name="persons_locks" id="persons_locks" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="persons_locks" id="persons_locks" disabled>
    {% endif %}
    <label class="custom-control-label" for="persons_locks">Personnel Locks</label>
    </div>
    </div>
    <div class="col-3">
    <div class="custom-control custom-switch">      <!-- Energy Released -->
    {% if permit.energy_released %}
        <input type="checkbox" class="custom-control-input" name="energy_released" id="energy_released" disabled checked>
    {% else %}
        <input type="checkbox" class="custom-control-input" name="energy_released" id="energy_released">
    {% endif %}
    <label class="custom-control-label" for="energy_released">Energy Released</label>
    </div>
    </div>
    </div>
<br>
                                <!-- Specific Task Hazards and Precautions -->
    
    <div class="row">
    <div class="col-12 titles">
    <p>List all Task Hazards and Precautions to be taken</p>
    <div class="permit-box box-rows">{{permit.hazards}}
    </div>
    </div>
    </div>

      <!-- Return to Permits -->
    <a class="btn btn-warning" href="{{url_for('permits')}}" role="button">Back to Permits</a>
      <br>
      <br>
     
</div>

{% endblock %}